<div class="container">

  <h1>Reading List</h1>

  <ol class="breadcrumb">
    <li class="active">
      Books
    </li>
  </ol>

  <div class='row'>
    <div class='col-sm-12'>
      <p>
        <form>
          <legend>Search</legend>
          <div class='col-xs-4'>
            <input type='text' class='form-control' value='<%= params[:keyword] %>' name='keyword' placeholder='Keyword' >
          </div>
        </form>
      </p>
      <p class='pull-right'>
        <a href='#' id='show-form' class='btn btn-primary'>New Book Form</a>
      </p>
    </div>
  </div>

  <hr>

  <div class='col-sm-12 book-form'>
    <p>
      <%= form_for(Book.new, remote: true, html: { class: 'horizontal-form' }) do |f| %>
      <legend>New Book</legend>

      <div class='col-sm-5'>
        <div class='form-group'>
           <label class='form-group'>
           <label class='col-sm-2 control-label'>Genre</label>
           <div class='col-sm-10'>
            <%= f.select :genre_ids,
              @genres.map { |g| [g.name, g.id] }, {}, {multiple: true} %>
            </div>
        </div>

        <br>

        <div class='form-group'>
          <%= f.text_field :title, class: 'form-control', placeholder: 'Title' %>
        </div>
        <div class='form-group'>
          <%= f.text_field :author, class: 'form-control', placeholder: 'Author' %>
        </div>
        <div class='form-group'>
          <%= f.text_field :description, class: 'form-control', placeholder: 'Description' %>
        </div>
        <div class='form-group'>
          <%= f.text_field :amazon_id, class: 'form-control', placeholder: 'Amazon ID' %>
        </div>

        <div class='form-group'>
          <legend>Rating</legend>
          <% (1..5).each do |rating| %>
            <label class='radio-inline'>
              <%= rating %><%= f.radio_button :rating, rating %>
            </label>
          <% end %>
        </div>

        <div class='form-group'>
          <%= f.submit class: 'btn btn-primary' %>
        </div>
      </div>
      <% end %>
    </p>
  </div>

  <div class="row">
    <div class="col-sm-8">
      <ul class="list-unstyled book-list">

  <%= render @books %>

  </ul>
    </div>
    <div class="col-sm-4">
      <h2>Genres</h2>
      <ul class="list-unstyled">
        <% @genres.each do |genre| %>
          <li>
          <%= link_to genre.name, books_path(filter: genre.name), class: 'label label-primary' %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>